{% extends "dashboard/base.html" %}
{% load static %}
{% block title %} {{account.associated_email}} settings - Emailgurus {% endblock %}
{% block content %}

<div class="d-flex justify-content-between w-100 flex-wrap mb-3">
  <div class="mb-3 mb-lg-0">
      <h1 class="h4">Account settings</h1>
      <p class="mb-0">Settings for account {{user.email}}</p>
  </div>
</div>

<div class="card border-0 shadow mb-4">
  <div class="card-body">
    <form id="updateCustomUser" action="" method="post" data-toggle="validator" data-focus="false">
        {% csrf_token %}
        <div class="form-check form-switch">
          <label class="form-check-label form-label" for="{{form.paypal_email.id_for_label}}">Paypal Email</label>
          {{ form.paypal_email }}
        </div>
        <div class="form-check form-switch">
          <label class="form-check-label" for="{{form.email.id_for_label}}">Email</label>
          {{ form.email }}
        </div>


        <div class="form-check form-switch">
          {%if request.user.subscription_status in 'trial, free'  %}
            <div>
              {%if request.user.subscription_status == 'trial'  %}
                <div class="pb-2"><small>Trial ends in: <strong>{{user.days_left}} days</strong></small></div>
              {%else %}
              <div class="pb-2"><small>Trial expired!</strong></small></div>
              {% endif %}
            <li class="nav-item">
              {{ paypal_button.render }}
            </li>
            </div>
            {%elif request.user.subscription_status == 'canceled' %}
            <div>
              <div class=" pb-2"><small>Subscription ends in: </small>
                <p>
                  <strong>{{user.expires_at|date:"F, jS" }}</strong>
                </p>
              </div>
            </div>
            {%elif request.user.subscription_status == 'subscribed' %}
            <div>
              <div class="pb-2"><small>Subscription renews: </small>
                <p>
                  <strong>
                    {{user.expires_at|date:"F, jS" }}
                  </strong>
                  <p>
              </div>
            </div>
          {% endif %}
        </div>

        
        <div class="row">
            <div class="form-group col-md-12 text-center">
                <button type="submit" class="btn btn-warning">Update</button>
          </div>
        </div>
        <div class="form-message">
            <div id="smsgSubmit" class="h3 text-center hidden"></div>
        </div>
    </form>
</div>
</div>

{% endblock %}

{% block upgradable %}
{%if request.user.subscription_status in 'trial, free'  %}
<div class="btn-upgrade-pro">
  {%if request.user.subscription_status == 'trial'  %}
    <div class="text-center pb-2"><small>Trial ends in: <strong>{{user.days_left}} days</strong></small></div>
  {%else %}
  <div class="text-center pb-2"><small>Trial expired!</strong></small></div>
  {% endif %}
<li class="nav-item">
  {{ paypal_button.render }}
</li>
</div>
{%elif request.user.subscription_status == 'canceled' %}
<div class="btn-upgrade-pro">
  <div class="text-center pb-2"><small>Subscription ends in: </small>
    <p>
      <strong>{{user.expires_at|date:"F, jS" }}</strong>
    </p>
  </div>
</div>
{%elif request.user.subscription_status == 'subscribed' %}
<div class="btn-upgrade-pro">
  <div class="text-center pb-2"><small>Subscription renews: </small>
    <p>
      <strong>
        {{user.expires_at|date:"F, jS" }}
      </strong>
      <p>
  </div>
</div>
{% endif %}
{% endblock %}