{% extends "landing/landing-base.html" %}
{% load static %}
{% block title %} Emailgurus - Password Reset {% endblock %}
{% block content %}

<!-- Header -->
<header id="header" class="ex-2-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Password Reset</h1>
                <p>Enter your email address and we'll send you a link to reset your password.</p>

                <!-- Password Reset Form -->
                <div class="form-container">
                    <form id="passwordResetForm" action="" method="post" data-toggle="validator" data-focus="false">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.email }}
                            <label class="label-control" for="{{ form.email.id_for_label }}">Email</label>
                            <div class="help-block with-errors">{{ form.email.errors }}</div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Send Password Reset Email</button>
                        </div>
                        <div class="form-message">
                            <div id="smsgSubmit" class="feedback hidden"></div>
                        </div>
                    </form>
                </div> <!-- end of form container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->

<!-- Scripts -->
<script src="{% static 'homepage/js/jquery.min.js' %}"></script>
<script src="{% static 'homepage/js/popper.min.js' %}"></script>
<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'homepage/js/swiper.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'homepage/js/validator.min.js' %}"></script>
<script src="{% static 'homepage/js/scripts.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#passwordResetForm").on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.status === 'ok') {
                        $("#smsgSubmit").addClass('success').removeClass('hidden').text(data.message);
                    }
                },
                error: function (data) {
                        $("#smsgSubmit").addClass('error').removeClass('hidden').text("An error occurred, we don't know what happened");
                }
            });
        });
    });
</script>
{% endblock %}
