{% extends "landing/landing-base.html" %}
{% load static %}
{% block title %} Emailgurus - Password Reset {% endblock %}
{% block content %}

<header id="header" class="ex-2-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Password Reset Successful</h1>
                <p>Your password has been set. You may go ahead and log in now.</p>

                <div class="form-container">
                    <a href="{% url 'login' %}" class="form-control-submit-button">Log In</a>
                </div> 
            </div> 
        </div> 
    </div> 
</header>

<script src="{% static 'homepage/js/jquery.min.js' %}"></script>
<script src="{% static 'homepage/js/popper.min.js' %}"></script>
<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'homepage/js/swiper.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'homepage/js/validator.min.js' %}"></script>
<script src="{% static 'homepage/js/scripts.js' %}"></script>

{% endblock %}
