{% extends "landing/landing-base.html" %}
{% load static %}
{% block title %} Emailgurus - Password Reset {% endblock %}
{% block content %}

<header id="header" class="ex-2-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Reset Your Password</h1>
                <p>Please enter your new password twice</p>

                <div class="form-container">
                    <form id="passwordResetForm" action="" method="post" data-toggle="validator" data-focus="false">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.new_password1 }}
                            <label class="label-control" for="{{ form.new_password1.id_for_label }}">New Password</label>
                            <div class="help-block with-errors">{{ form.new_password1.errors }}</div>
                        </div>

                        <div class="form-group">
                            {{ form.new_password2 }}
                            <label class="label-control" for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
                            <div class="help-block with-errors">{{ form.new_password2.errors }}</div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Reset Password</button>
                        </div>
                    </form>
                </div> 
            </div>
        </div> 
    </div> 
</header> 

<script src="{% static 'homepage/js/jquery.min.js' %}"></script>
<script src="{% static 'homepage/js/popper.min.js' %}"></script>
<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'homepage/js/swiper.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'homepage/js/validator.min.js' %}"></script>
<script src="{% static 'homepage/js/scripts.js' %}"></script>

{% endblock %}
