{% extends "onboarding_base.html" %}

{% load static %}
{% load settings_value %}


{% block title %}EG:Let's get started - Link account{% endblock %}
{% block main %}
<div class="col-12 text-center">
                    <h2>Let's start by linking a Gmail account</h2>
                </div>

                <div class="col-12 text-center">
                    <p> In this step, we will ask for the following permissions:</p>
                    <ol class="text-left">
                        <li><strong>Read your contact list:</strong> <i>We hash your contact list so only you has access to that information</i></li>
                        <li><strong>Read, compose, edit:</strong>
                            <ul>
                                <li>
                                    <i>Keep watching your inbox for new emails in real time. We never send any email on your behalf.</i> 
                                </li>
                                <li> 
                                    <i> Flag emails coming from unknown senders and possibly archive them. </i>
                                </li>
                        </li>
                    </ol> 
                </div>
                <div class="col-12 text-center">
                    <div class="col-4"></div>
                    <div class="col-4 col-xs-12">
                        <a class="link-button text-center" href="{% url 'link_google' %}">
                            <div class="google-icon-wrapper">
                                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                              </div>
                              <p class="btn-text"><b>Connect with google</b></p>
                        </a>
                    </div>
                        <div class="col-4"></div>
                    </div>
{% endblock %}

{% block extra_js %}
        <!-- Google Tag Manager -->
  <script>
    var gtm_container = '{% settings_value "GTM_CONTAINER_ID" %}';
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',gtm_container);</script>
  <!-- End Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={% settings_value "GTM_CONTAINER_ID" %}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endblock %}