{% extends "onboarding_base.html" %}

{% load static %}
{% load settings_value %}


{% block title %}EG:Let's get started - Link account{% endblock %}
{% block main %}
<div class="col-12 text-center">
                    <h2>Let's start by linking a Gmail account</h2>
                </div>

                <div class="col-12 text-center">
                    <p> In this step, we will ask for the following permissions:</p>
                    <ol class="text-left">
                        <li><strong>Read your contact list:</strong> <i>We hash your contact list so only you has access to that information</i></li>
                        <li><strong>Read, compose, edit:</strong>
                            <ul>
                                <li>
                                    <i>Keep watching your inbox for new emails in real time. We never send any email on your behalf.</i> 
                                </li>
                                <li> 
                                    <i> Flag emails coming from unknown senders and possibly archive them. </i>
                                </li>
                        </li>
                    </ol> 
                </div>
                <div class="col-12 text-center">
                    <div class="col-4"></div>
                    <div class="col-4 col-xs-12">
                        <a class="" href="{% url 'link_google' %}">
                            <img src="{% static 'homepage/images/google.svg' %}" alt="Google" width="250">
                        </a>
                    </div>
                        <div class="col-4"></div>
                    </div>
{% endblock %}

{% block gtm_push %}
<script>
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'signupComplete'
  });
</script>
{% endblock %}