{% extends "landing/landing-base.html" %}
{% load static %}
{% block title %} Emailgurus - Filter emails from your contact list {% endblock %}

{% block content %}


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h1>Your Personal Email Custodian</h1>
                            <p class="p-large">As a Gmail plugin, Emailgurus ensures that your inbox remains clutter-free and focused by flagging and categorizing emails from unfamiliar senders​.</p>
                            <a class="btn-solid-lg page-scroll" href="/sign-up">SIGN UP</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <picture class="img-fluid">
                                    <source media="(min-width: 800px)" srcset="{% static 'homepage/images/emailgurus-user.svg' %}">
                                    <source media="(max-width: 450px)" srcset="{% static 'homepage/images/emailgurus-user.svg' %}">
                                    <img src="{% static 'homepage/images/emailgurus-user.svg' %}" srcset="{% static 'homepage/images/emailgurus-user.svg' %} 2x" alt="a head carved out of wood">
                                  </picture>
                            </div> <!-- end of img-wrapper -->
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#5f4def;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
    <!-- end of header -->

    <!-- Description -->
    <div class="cards-1" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">Tailored to Your Contacts</div>
                    <h2 class="h2-heading">Our features are designed to prioritize your contacts:</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'homepage/images/real-time.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">24/7 Vigilance</h4>
                            <p>With real-time monitoring, your inbox stays clean round-the-clock</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'homepage/images/auto-sync.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Automatic Contact Synchronization</h4>
                            <p>With Emailgurus, you never have to worry about missing newly added contacts. We keep everything in sync for you</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'homepage/images/filter.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Customizable Filters</h4>
                            <p>You have the freedom to manage your filtering settings, giving you complete control over your inbox</p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->


    <!-- Pricing -->
    <div id="pricing" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Transparent and affordable</h2>
                    <p style="line-height: 1.75em;">At just $12.99 per month, enjoy our straightforward pricing. Try us out with a 7-day free trial, no credit card needed. Our services include real-time cleaning, automatic contact syncing, and flexible filtering to keep your inbox organized</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card-->
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Monthly</div>
                            <div class="price"><span class="currency">$</span><span class="value">12.99</span></div>
                            <div class="frequency">7 days trial, no card needed</div>
                            <div class="divider"></div>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Real time cleaning</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">AutoSyncing</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-check"></i><div class="media-body">Flexible filtering</div>
                                </li>
                            </ul>
                            <div class="button-wrapper">
                                <a class="btn-solid-reg page-scroll" href="/sign-up">SIGN UP</a>
                            </div>
                        </div>
                    </div> <!-- end of card -->
                    <!-- end of card -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of pricing -->




    <!-- Footer -->
    <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#5f4def;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col first">
                        <h4>About Emailgurus</h4>
                        <p class="p-small"> Tired of getting bombarded by emails from unknown senders? Emailgurus is here to help. 
                            <br> As the first <strong>open-source software</strong> of its kind, we're committed to helping you focus on the emails that matter most, while minimizing interruptions.
                        </p>
                        
                           
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>We Prioritize Your Data's Security</h4>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Your data's security is our top priority. For more information, check out our  <a class="white" href="/terms-services/">Terms & Conditions and Privacy Policy</a>, <a class="white" href="/privacy-policy/">Privacy Policy</a></div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>We're Here to Help</h4>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="media-body">Have a question or need help? Don't hesitate to drop us a message on Twitter or LinkedIn. We're here to assist you</div>
                            </li>
                            <li class="media">
                                <i class="fab fa-twitter" style="margin-top: 7px;"></i>
                                <div class="media-body">
                                    <a class="white" href="https://twitter.com/aysennoussi">Twitter</a>
                                    <i class="fab fa-linkedin"></i> <a class="white" href="https://www.linkedin.com/in/aymane-sennoussi/">Linkedin</a></div>
                            </li>
                        </ul>
                    </div> 
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2022</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="{% static 'homepage/js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'homepage/js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'homepage/js/jquery.easing.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'homepage/js/swiper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'homepage/js/swiper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'homepage/js/jquery.magnific-popup.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'homepage/js/validator.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'homepage/js/scripts.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    {% endblock %}