{% extends "dashboard/base.html" %}
{% load static %}
{% block title %} Emailgurus - Filter emails from your contact list {% endblock %}
{% block content %}
{% if has_linked_accounts %}
<div class="row">
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
        <h1 class="h4">Dashboard</h1>
        <p class="mb-0">Stats about usage and performance</p>
    </div>
  </div>

  <div class="col-12 mb-4">
    <div class="card bg-yellow-100 border-0 shadow">
      <div class="card-header flex-row align-items-center flex-0">
        <div class="d-block mb-3 mb-sm-0">
          <div class="fs-5 fw-normal mb-2">Total emails filtered</div>
          <div class="container">
            <div class="row">
              <h2 class="fs-3 fw-extrabold">{{total_filtered}}</h2>
              <div class="small mt-2 col-lg-6">
                <span class="fw-normal me-2">Today</span>
                <span class="fas fa-angle-up text-success"></span>
                <span class="text-success fw-bold">{{total_filtered_today}}</span>
              </div>
              <div class="small mt-2 col-lg-6">
                {% for email in linked_accounts%}
                <span class="fw-normal me-2 legend-{{forloop.counter}}"><small>{{email}}</small></span>
                {%endfor%}
              </div>
        </div>
      </div>
        </div>
      </div>
      <div class="card-body p-2">
        <div class="ct-chart ct-chart-sales-value ct-double-octave"></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="d-sm-none">
              <h2 class="h5">Time saved</h2>
              <h3 class="fw-extrabold mb-1">{{time_saved|floatformat}} Hours</h3>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h6 text-gray-400 mb-0">Time saved</h2>
              <h3 class="fw-extrabold mb-2">{{time_saved|floatformat}} Hours</h3>
            </div>
            <small class="d-flex align-items-center text-gray-500">
             Focusing on the right emails
            </small>
            <div class="small d-flex mt-1">
              <div>Since last month <svg class="icon icon-xs text-success" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                    clip-rule="evenodd"></path>
                </svg><span class="text-success fw-bolder">22%</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
              <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="d-sm-none">
              <h2 class="fw-extrabold h5">Contacts</h2>
              <h3 class="mb-1">{{request.user.count_contact}}</h3>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h6 text-gray-400 mb-0">Contacts</h2>
              <h3 class="fw-extrabold mb-2">{{request.user.count_contact}}</h3>
            </div>
            <small class="d-flex align-items-center text-gray-500">
              Feb 1 - Apr 1,
              <svg class="icon icon-xxs text-gray-500 ms-2 me-1" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z"
                  clip-rule="evenodd"></path>
              </svg>
              GER
            </small>
            <div class="small d-flex mt-1">
              <div>Since last month <svg class="icon icon-xs text-danger" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg><span class="text-danger fw-bolder">2%</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-xl-4 mb-4">
    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
            <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
              <svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
            <div class="d-sm-none">
              <h2 class="fw-extrabold h5"> Filteration rate</h2>
              <h3 class="mb-1">{{filteration_rate|floatformat}}</h3>
            </div>
          </div>
          <div class="col-12 col-xl-7 px-xl-0">
            <div class="d-none d-sm-block">
              <h2 class="h6 text-gray-400 mb-0"> Filteration rate</h2>
              <h3 class="fw-extrabold mb-2">{{filteration_rate|floatformat}}%</h3>
            </div>
            <small class="text-gray-500">
              Of your emails are outsiders
            </small>
            <div class="small d-flex mt-1">
              <div>Since last month <svg class="icon icon-xs text-success" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                    clip-rule="evenodd"></path>
                </svg><span class="text-success fw-bolder">4%</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="d-flex justify-content-center">
  <p class="lead">No data, please connect your Gmail account.</p>
</div>
<div class="d-flex justify-content-center">
  <a class="d-inline-flex align-items-center me-3 mb-3" type="button"
    href="{% url 'link_google' %}">
    <div class="google-btn">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
      </div>
      <p class="btn-text"><b>Connect with google</b></p>
    </div>
  </a>
</div>
<div class="d-flex justify-content-center">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Privacy policy</h4>
    <ol>
      <li>We don't read nor store your emails content</li>
      <li>The contact information is encrypted SHA256 and the filtering happens only on an encrypted basis.</li>
      <li>We don't use your email & contacts data for any commercial activity.</li>
      <li>You can at any time and any place request a complete and utter deletion of your data from all our servers.
      </li>
    </ol>
    <hr>
    <p class="mb-0">Whenever you need to, please reach out to <a href="https://twitter.com/aysennoussi"> the creator
      </a> of this software.</p>
  </div>
</div>
{% endif %}
{% endblock %}
{% block upgradable %}
{%if request.user.subscription_status != 'subscribed' %}
<div class="btn-upgrade-pro">
  <div class="text-center pb-2"><small>Trial ends in: <strong>{{user.days_left}} days</strong></small></div>
<li class="nav-item">
  {{ paypal_button.render }}
</li>
</div>
{% endif %}
{% endblock %}
{% block extra_js %}
{% if has_linked_accounts %}
<!-- Charts -->
<script src="{% static 'dashboard/js/chartist/dist/chartist.min.js' %}" deferred></script>
<script src="{% static 'dashboard/js/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}" deferred>
</script>
<script type="text/javascript">
  var series_x = {{series_x | safe}};
  var series_y = {{series_y | safe}};

  new Chartist.Line('.ct-chart', {
    labels: series_x,
    series: series_y
  },{
    axisY: {
      type: Chartist.AutoScaleAxis,
      onlyInteger: true
    },
    low: 0,
    showArea: true
  });
</script>
{% endif %}
{% endblock %}