{% extends "dashboard/base.html" %}
{% load static %}
{% load settings_value %}
{% block title %} Emailgurus - Filter emails from your contact list {% endblock %}
{% block content %}
{% if view.kwargs.status == 'success' %}
<div class="d-flex justify-content-center">
  <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
  </svg>
</div>
<div class="d-flex justify-content-center">
  <p class="lead text-center">You're all set!<br>The magic is now happening behind the curtains..</p>
</div>
<div>
  <p class="text-center">redirecting you to the dashboard...</p>
</div>
<script>
  dashboard_link = '{% url "dashboard" %}'
  setTimeout(function () {
    window.location.href = dashboard_link
  }, 5000);
</script>
{% else %}
<div class="d-flex justify-content-center">
  <p class="lead">Please try again by clicking on the button below</p>
</div>
<div class="d-flex justify-content-center">
  <a class="d-inline-flex align-items-center me-3 mb-3" type="button" href="{% url 'link_google' %}">
    <img src="{% static 'homepage/images/google.svg' %}" alt="Google" width="250">
  </a>
</div>
{% endif %}
{% endblock %}
{% block upgradable %}
{% if request.user.subscription_status != 'subscribed' %}
<div class="btn-upgrade-pro">
  <div class="text-center pb-2">
    <small>Trial ends in: <strong>{{ user.days_left }} days</strong></small>
  </div>
  <li class="nav-item">
    {{ paypal_button.render }}
  </li>
</div>
{% endif %}
{% endblock %}