{% extends "dashboard/base.html" %}
{% load static %}
{% load settings_value %}
{% block title %}Payment Successful - Emailgurus{% endblock %}
{% block content %}
<section class="vh-100 d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center d-flex align-items-center justify-content-center">
        <div>
          <img class="img-fluid w-35" src="{% static 'dashboard/images/success.svg' %}" alt="Success payment">
          <h1 class="mt-5">Payment <span class="fw-bolder text-primary">Successful</span></h1>
          <p class="lead my-4">
            Yay! Your payment was processed successfully. We are grateful for your trust.
          </p>
          <a href="{% url 'dashboard' %}"
            class="btn btn-purple d-inline-flex align-items-center justify-content-center mb-4">
            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                clip-rule="evenodd"></path>
            </svg>
            Dashboard
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block gtm_push %}
<script>
  window.dataLayer = window.dataLayer || []
  dataLayer.push({
    'event': 'paymentSuccess',
    'paymentStatus': 'success',
    'transactionTotal': 12.99,
    'transactionCurrency': 'USD'
  });
</script>
{% endblock %}